* { 
	box-sizing: border-box;
    padding:unset;
    margin:unset;
}

:root {
    --darkbackground:#e4e4e7;
    --background:#f5f5f7;
    --font-primary:#1d1d1f;
    --font-secondary:#6e6e73;
    --secondary-dark: #ffffff;
    --light-stroke: #e2e2e2;
    --backlight: 0 0 0 2px hsl(300 99.4% 67.1% / 0.102), -15px 0 30px -15px hsl(24 100% 49.9% / 0.523), 0 0 30px -15px hsl(322 99.7% 55.4% / 0.608), 15px 0 30px -15px hsl(250 99.7% 66.1% / 0.733);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(./assets/sf-pro-display_regular.woff2);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(./assets/sf-pro-display_semibold.woff2);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(./assets/sf-pro-display_bold.woff2);
}

@font-face {
    font-family: 'NDot55';
    src: url(./assets/fonts-ndot57.ttf);
}

html, body {
	min-height: 100%;
    color: var(--font-primary);
    background-color: var(--background) ;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 19px;
    font-family:'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
   
}

body, ul, ol, dl {
	margin: 0;
}

img { 
	border: none;
	max-width: 100%;
}

a {
    all: unset;
}

.intro-section a {
    all: unset;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    color:var(--font-primary);
}

a:hover {
    cursor: pointer;
    text-decoration-color: #242424;
}

a::after {
    all: unset;
}

h1 > img {
    all: unset;
    width: 60px;
    height: 60px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    background-image: url(./assets/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover

}



#landing {
    width: 100%;
    max-width: 1200px;
    padding: 10em 0em 0em 0em;
    margin: auto;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    padding: 1em 5em;
    background-color:#ffffff00;
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter:  blur(28px);
    background-blend-mode: overlay;
    z-index: 100;
}


#menu-container {
    display: flex;
    padding-bottom:8px ;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    margin: auto;
}


.intro-section {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

#cscontainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 6em 1.5em 6em 1.5em;
    width: 980px;
    margin: auto;
    }

.wistia_responsive_padding {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;

}

.wistia_responsive_padding:hover {
    cursor: pointer;
}

.csimage:hover {
    all:unset;
    cursor: pointer;

}

.cshero {
    border-radius: 10px;
}
.csintro {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    border-radius: 12px;
    background-color: var(--secondary-dark);
}
.csheader {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 12px;
    background-color: var(--secondary-dark);
}

.csdetails
{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 2em;
    border-radius: 12px;
    background-color: var(--secondary-dark);
    font-weight: 700;
}

.csdetail > .body20 {
    font-weight: 600;
}

.csdetail {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.cslabels {
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding-top: .5em;
}

#zoomlabels {
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding-top: 1em;
}

#cslabel {
    font-size: 1.25em;
    font-family: NDOT55;
    padding: .5em;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: var(--background);
    color: var(--font-primary);
}

.cssection {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    border-radius: 12px;
    background-color: var(--secondary-dark);
}

.casestudyheading {
    all:unset;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -.1rem;
    padding: .24em 0em .25em 0em;
    color: var(--font-primary);

}

 h1 {
    all:unset;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--font-primary);
    max-width: 15ch;
}


.text-gradient {
    background-image: linear-gradient(90deg,transparent 80%,#3e23b8 100%),linear-gradient(180deg,rgb(180, 110, 234) 10%,#4e15c1);
    background-color: #ffb6ff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    padding: 0em 2em;
}

li {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    color: var(--font-secondary);
    font-size: 1.25em;
    font-weight: 600;
    max-width: 72ch;
    line-height: 1.25;
    padding: .5em .25em;
}

.largebody {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--font-secondary);
    max-width: 46ch;
}

.body14 {
    color: var(--font-secondary);
}

.body20 {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: var(--font-primary);
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    
}

.subtitletext {
    width: 40ch;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: var(--font-secondary);
}

.subheading {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: var(--font-secondary);
}

.quote {
    all: unset;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    padding: 2em 2em 2em 2em;
    border-radius: 6px;
    background-color:var(--background);

}

.callout {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    padding: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 6px;
    background-color:var(--background);
}

.callout2 {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    padding: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 6px;
    border: 1px solid var(--light-stroke);
}

.imagebox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .75em;
    
}

.imagebox > img {
    width: 49%;
    border-radius: 12px;
    margin-bottom: .5em;
}

.subtitle {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.cs-info > .subtitle {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
 

#returnlink {
    display:flex;
    width: fit-content;
    gap:.4em;
    padding: .4em .75em;
    border-radius: 8px;
    background-color: var(--background);
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: var(--font-primary);
    align-items: center;
    margin-bottom: .75em;
}

label {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    color: var(--font-primary);
    font-weight: 600;
    border-radius: 16px;
    width: fit-content;
    background-color: #fefefe53;
    padding: .5em .75em;
}

.sectionlabel {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    color: var(--font-secondary);
    font-weight: 700;
    border-radius: 16px;
    width: fit-content;
}



.articlelabel {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 0;
    padding: .5em 0em;
    display: inline-block;
    color: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 700;
}


#hero:hover {
    background-color: #252c35;
    box-shadow: 0 0 0 .1em var(--light-stroke)
}

#cta {
    display: flex;
    flex-direction: row;
    padding: 3em 0rem 4em 0rem;
    gap: 1rem;
    align-items:center;
    justify-content: center;
}

.button-primary {
    all:unset;
    padding: .75em 1.75em;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 19px;
    border-radius: 9px;
    box-shadow: 0 0 0 1px #00000012, 0 2px 15px #54606718;
    transition: all .2s;
    color: white;
    background-color:var(--font-primary);
}
.button-secondary {
    all:unset;
    padding: .75em 1.75em;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 19px;
    box-shadow: 0 0 0 1px #a0abc64e, 0 2px 15px #54606718;
    border-radius: 9px;
    transition: all .2s;
    max-width: fit-content;
    color: var(--font-primary);
}

.button-tertiary {
    all:unset;
    padding: .75em 1.75em;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 19px;
    border-radius: 6px;
    border: 1px solid var(--light-stroke);
    transition: background-color .2s;
    display: flex;
    gap: 4px;
    align-items: center;
    width: fit-content;
    color: var(--font-primary);
}

.button-primary:hover {
    background-color:#313136;
    color: var(--background);
    box-shadow: var(--backlight);
    cursor:pointer;
    margin: -.6em 0em .6em 0em;
}

.button-secondary:hover {
    color: var(--font-primary);
    box-shadow: var(--backlight);
    margin: -.6em 0em .6em 0em;
    cursor:pointer;
}

.button-tertiary:hover {
    background-color: white;
    color: var(--background);
    cursor:pointer;
}
    

h2 {
    all:unset;
    color: var(--font-primary);
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    width: 25ch;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -.1rem;
}

h3 {
    all:unset;
    color: var(--font-primary);
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -.1rem;
}

.sectiontitle {
padding: 1em 0em .25em 0em;
color:  var(--font-primary);
width: fit-content;
}

.sectionheading {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 8em 0em 1em 0em;
}

.sectionheading2 {
    display: flex;
    flex-direction: column;
    padding: 2em 0em 0em 0em;
}

.articlesectioncontainer {
    all:unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    padding: 6em 0em 0em 0em;
}

.articlesectiondesc {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;

}

.articlecontainer {
    display: grid;
    background-color: var(--secondary-dark);
    overflow: hidden;
    border-radius: 16px;
    max-height: fit-content;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.articlecontainer:hover {
    transform: scale(1.03);
    background-color:#ebebeb;
    cursor: pointer;
}

.articledescription {
    display: flex;
    padding: 1.5em;
    flex-direction: column;
    gap: 1em;
}

.articleheading {
        font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: var(--font-primary);
        line-height: 37px;
        letter-spacing: -.03rem;
        max-width: 20ch;
}

.articlebody {
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    color: var(--font-secondary);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.3;
}

.articleimage {
    overflow: hidden;
}

.articleimage > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.logo {
    height: 2em;
    opacity: 50%;
    transition: all 0.2s ease-in-out;
    mix-blend-mode:exclusion;
    display: inline-block;
    align-items: center;
    mix-blend-mode:exclusion;
}

.icon {
    height: 1em;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    align-items: center;
    border: 100px;
    font-family: NDot55;
    font-size: 2rem;
    mix-blend-mode:exclusion;
    color: var(--font-primary);
}

.icon:hover {
    color: #e2e2e2;
    transform: scale(1.05);
    cursor:pointer;
}

.logo:hover {
    opacity: 100%;
    transform: scale(1.03)
}

.logotitle {
    font-family:'Ndot55', Inter, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: normal;
    display: flex;
    color: var(--font-primary);
    text-transform: uppercase;
    padding-bottom: 2em;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    row-gap: 2rem;
    margin: auto;
    column-gap: 2.5rem;
    padding: 1rem 0rem 6em 0em;
    border-radius: 8px;
}


.about {
    all:unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    padding: 6em 0em 0em 0em;
}

.aboutinfo > h3 {
    padding-bottom: unset;
}

.aboutinfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.aboutinfocta {
    padding-top: 1em;
}

.aboutimg {
    height: 600px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.aboutimg > img {
    object-fit: cover;
    filter: saturate(0);
    border-radius: 16px;
}

.aboutimg:hover {
    transform: scale(1.03);
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    padding: 3em 0em 10em 0em;
    gap: 1.5em;
}

.subtitle > h2 {
    padding: .25em 0em 0em 0em;
}


.case-study {
    border-radius: 12px;
    width: 1200px;
    background-color: var(--secondary-dark);
    transition: all 0.2s ease-in-out;
}

.case-study:hover {
    transform: scale(1.03);
    background-color:#ebebeb;
    cursor: pointer;

}

.cs-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em;
}

.cs-info > label {
    display: flex;
    justify-content: right;
}



footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--light-stroke);
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 5rem 0rem 6rem 0rem;

}

f
.footercontainer {
    all:unset;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.footercontainerlinks {
    all:unset;
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-family: NDOT55;
    font-size: 1rem;
    color: var(--font-primary);
}

.footercontainerlinks > a:hover {
    text-decoration: underline;
}

.footeremail {
    all: unset;
    text-decoration: underline;
}

.footerheading {
    all: unset;
    font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: var(--font-primary);
    font-size: 48px;
    line-height: 1.1em;
    padding-bottom: 1em;
    letter-spacing: -0.03em;
}

.footercontainer p {
    font-family: NDOT55;
    color: var(--font-primary);
    font-size: .8rem;
    line-height: 1.25;
}

@media only screen and (max-width: 1290px) {
   

    .content-container  {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5em 2em 10em 2em;
    gap: 1em;
    width: 100vw;
    }
    

    .case-study {
        border-radius: 12px;
        width: unset;
        background-color: var(--secondary-dark);
        transition: all ease-in-out .2s;
    }

    main {
        display: flex;
        margin: auto;
        padding: 0em 2em;
        width: 100vw;
    }

    #logo-container {
        gap:2em;
    }

    .subtitletext {
        width:unset;
        font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
    }

    footer {
        display: flex;
        flex-direction: row;
        border-top: 1px solid var(--light-stroke);
        max-width: 100vw;
        margin: auto;
        padding: 5rem 2rem 6rem 2rem;
    }
        .footerheading {
            all: unset;
            font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
            font-weight: 700;
            color: var(--font-primary);
            font-size: 48px;
            line-height: 1.2em;
            padding-bottom: 1em;
            letter-spacing: -0.03em;
        }
    
    }
    .footercontainer {
        all:unset;
        display: flex;
        flex-direction: column;
    }
    
    .footercontainerlinks {
        all:unset;
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-family: NDOT55;
        font-size: 1rem;
    }



@media only screen and (max-width: 1024px) { 

    #landing {
        padding:12em 0em 0em 0em;
        margin: auto;
    }

    li {
        max-width: none;
    }
    .content-container  {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 5em 2em 8em 2em;
        gap: 1em;
        width: 100vw;
        }

    
    .subtitletext {
        width:unset;
        font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
    }

    #cscontainer {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 6em 1.5em 6em 1.5em;
        width: 100%;
        margin: auto;
        }

        .sectionheading {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1.5em 0em 1em 0em;
        }

}


@media only screen and (max-width: 900px) { 

    #landing {
        padding: 8em 0em 0em 0em
    }

    .about {
        all:unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        padding: 1em 0em 1em 0em;
    }

    .aboutinfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
    }

    .asectioncontainer {
        all:unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        padding: 1em 0em 1em 0em;
    }

    .asectiondesc {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
    }

    .sectionheading2 {
        display: flex;
        flex-direction: column;
        padding: .5em 0em 0em 0em;
    }

    .aboutimg > img{
        height: 600px;
        width: 100vw;
        object-position: top;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
    }
    
    
    
    label {
        font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-size: 16px;
        line-height: 1;
        display: inline-block;
        color: var(--font-primary);
        font-weight: 600;
        border-radius: 16px;
        width: fit-content;
        background-color: #fefefe53;
        padding: .5em .75em;
    }



    .largebody {
        font-family:'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: var(--font-secondary);
    }

    h1 {
        all:unset;
        font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 72px;
        line-height: 1;
        letter-spacing: -0.03em;
        text-align: center;
        color: var(--font-primary);
    }

    h2 {
        all:unset;
        color: var(--font-primary);
        font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-weight: 700;
        max-width: 25ch;
        font-size: 48px;
        letter-spacing: -.1rem;
    }

        footer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border-top: 1px solid var(--light-stroke);
            max-width: 100vw;
            margin: auto;
            padding: 5rem 2rem 6rem 2rem;
            gap:4em;
        
        }
        .footercontainer {
            all:unset;
            display: flex;
            flex-direction: column;
        }
        
        .footercontainerlinks {
            all:unset;
            display: flex;
            flex-direction: column;
            gap: 2em;
            font-family: NDOT55;
            font-size: 1rem;
        }
    
        #menu-container {
            display: flex;
            padding-bottom:8px;
            flex-direction: row;
            margin: auto;
        }

        nav {
            padding: 1em 1.5em;
        }
        
        #zoomlabels {
            font-size: 16px;
        }

    }

    @media only screen and (max-width: 690px) { 
        h1 {
            all:unset;
            font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 1;
            letter-spacing: -0.03em;
            text-align: left;
            color: var(--font-primary);
        }

        h2 {
            all:unset;
            color: var(--font-primary);
            font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
            font-weight: 700;
            font-size: 48px;
            letter-spacing: -.1rem;
        }

        
        .largebody {
            font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
            font-weight: 600;
            font-size: 19px;
            line-height: 25px;
            text-align: left;
            color: var(--font-secondary);
        }

        .intro-section {
            gap: 1.5;
            align-items: flex-start;
        }

        #cta {
            align-items: flex-end;
            justify-content: flex-start;
            padding: 2em 0em 4em 0em;
        }
        
        .content-container  {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 2em 1.5em 4em 1.5em;
        gap: 1em;
        width: 100vw;
        }
    
    
        main {
            display: flex;
            margin: auto;
            padding: 0em 1.5em;
            width: 100vw;
        }

        @media only screen and (max-width: 530px) {
            #cslabel {
                font-size: 14px;
            }

            #landing {
                padding: 5em 0em 0em 0em
            }

            #logo-container {
               padding: 1rem 0rem 3em 0em;
               font-size: 16px;
            }

            h3 {
                all:unset;
                color: var(--font-primary);
                font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
                font-weight: 700;
                font-size: 32px;
                line-height: 32px;
                letter-spacing: -.05rem;
            }
            
            .button-primary {
                font-size: 16px;
            }

            .button-secondary {
                font-size: 16px;
            }

            .subtitletext {
                width:unset;
                font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                text-align: left;
            }

            .footerheading {
                all: unset;
                font-family: 'SF Pro Display', -apple-system, 'Inter', BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
                font-weight: 700;
                color: var(--font-primary);
                font-size: 28px;
                line-height: 1.2em;
                padding-bottom: 1em;
                letter-spacing: -0.03em;
            }
        

        }
    }