* { 
	box-sizing: border-box;
    padding:unset;
    margin:unset;
}

:root {
    --background:#0d1117;
    --font-primary:#e2e8f0;
    --secondary-dark: #161b22;
    --light-stroke: #373f4e;
}
@font-face {
    font-family: 'InterDisplay-Regular';
    font-style:  normal;
    font-display: swap;
    src: url("./assets/InterDisplay-Regular.woff") format("woff")
}

@font-face {
    font-family: 'InterDisplay-Medium';
    font-style:  normal;
    font-display: swap;
    src: url("./assets/InterDisplay-Medium.woff") format("woff")
}

@font-face {
    font-family: 'InterDisplay-SemiBold';
    font-style:  normal;
    font-display: swap;
    src: url("./assets/InterDisplay-SemiBold.woff format")("woff")
}

@font-face {
    font-family: 'InterDisplay-Bold';
    font-style: normal;
    font-display: swap;
    src: url("./assets/InterDisplay-Bold.woff")("woff")
}

@font-face {
    font-family: NDot55;
    src: url(./assets/fonts-ndot55.otf);
}

html, body {
	min-height: 100%;
    color: #e2e8f0;
    background-color: var(--background) ;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 1rem;
    font-family:'InterDisplay-Regular', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
   
}

body, ul, ol, dl {
	margin: 0;
}

img { 
	border: none;
	max-width: 100%;
}

a {
    all: unset;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    color: #b1bdd4;
}

a:hover {
    cursor: pointer;
    text-decoration-color: #b1bdd4;
}

a::after {
    all: unset;
}


main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;

}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    padding: 2em 5em;
    border-bottom: 1px solid var(--light-stroke);
    background-color:#0d1117d2;
    backdrop-filter: saturate(180%) blur(33px);
    -webkit-backdrop-filter: saturate(180%) blur(33px);
    background-blend-mode: overlay;
    z-index: 100;
}

#menu-container {
    display: flex;
    flex-direction: row;
}

.logo {
    display: inline-block;
    align-items: center;
    border: 100px;
    font-family: NDot55;
    font-size: 2rem;
}

.intro-section {
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 5em;
}

.intro-section > h1 {
    all:unset;
    font-family: 'InterDisplay-Bold', Inter, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;;
    max-width: 23ch;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 1.0;
    padding-bottom: 1rem;
    letter-spacing: -.2rem;
}

.largebody {
    font-family: 'InterDisplay-Medium', Inter, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    max-width: 50ch;
    font-size: 1.25rem;
    line-height: 1.25;
}

label {
    font-family: Ndot55;
    font-size: 1.5rem;
}


#hero:hover {
    background-color: #252c35;
    box-shadow: 0 0 0 .1em var(--light-stroke)
}

#cta-scroll {
    position: absolute;
    gap: 1rem;
    align-items: center;
    display: flex;
    right: 5em;
    bottom: 5em;
    padding: 1em;
    opacity: 90%;
    background-color: var(--secondary-dark);
    font-family: NDOT55;
}


.content-container {
    display: flex;
    padding: 10rem 5rem 50rem;
    font-family:'InterDisplay-Medium', Inter, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 2em;
}


footer {
    all:unset;
    display: flex;
    flex-direction: column;
    padding: 10rem 5rem 6rem;
    border-top: 1px solid var(--light-stroke);
}

footer > h1 {
    font-family: 'InterDisplay-Medium', Inter, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1em;
    padding-bottom: 1em;
}

footer p {
    font-family: NDOT55;
    font-size: .8rem;
}



@media screen and (max-width: 740px) {
    .intro-section > h1 {
        font-size: 9vw;
        line-height: 1.1em;
        letter-spacing:-.06rem;

    }

    .content-container {
        padding: 10rem 1rem 50rem;
    }

    .intro-section {
        gap: 1rem;
        padding: 6em 2em;
    }

    label {
        font-size: 1rem;
    }

    #cta-scroll {
        right: 1em;
        bottom: 1em;
        background-color: transparent;
    }

    nav {
        padding: 1em 2em;
    }

    footer {
        padding: 2em 2em 2em;
    }

    footer > h1 {
        font-family: 'InterDisplay-SemiBold', Inter, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
        line-height: 1.1em;
    }

 .content-container {
    padding: 10rem 2rem 50rem;
    }



}